[Desktop Entry]
Type=Application
Name=BFME Online Arena
Comment=Play Battle for Middle-earth online
Exec=bfme-linux-setup arena
Icon=BfmeFoundationProject.AllInOneLauncher.Linux
Terminal=false
Categories=Game;
StartupNotify=true
